
body{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    background: black;
    color: white;
}
a{
    font-size: 30px;
    color:#5792f2;
}
h1 {
    font-size: 100px;
}
h2{
    font-size: 75px;
}
h3{
    font-size: 60px;
}
img {
    width: 400px;
}